@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

.logo {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.site-layout-background {
  background: #fff;
}



@font-face {
  font-family: 'Fontin';
  src: local('Fontin'),
    url('./assets/fonts/Fontin-Regular.ttf') format('ttf'),
    url('./assets/fonts/Fontin-Italic.ttf') format('ttf'),
    url('./assets/fonts/Fontin-SmallCaps.ttf') format('ttf'),
    url('./assets/fonts/Fontin-Bold.ttf') format('ttf');
}

@font-family: 'Fontin', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif!;
@font-size-base: 14px; // major text font size

table {
  border-color: black
}
.content-table {
   background-color: #1b1b1b;
 }
th.ant-table-cell {
  background-color: #1b1b1b !important;
  border-color: rgb(163, 141, 109);
  font-weight: 400;
  font-size: 16px;
}
 .table-row-light {
  background-color: #1A1B18;
  border-color: rgb(163, 141, 109);
}

.table-row-dark {
  background-color: #0F0F0F;
  border-color: rgb(163, 141, 109);
}

.SiderItem {
  font-weight: bold
}

@primary-color: rgb(185, 156, 116);


@border-color-base: #050505;
@heading-color: #d6d6ce; // heading text color
@text-color: #d6d6ce; // major text color
@text-color-secondary: #bb9e74; // secondary text color

@body-background: #1b1b1b;
@layout-body-background:transparent ; 

@component-background: #1b1b1b ;
@layout-sider-background: #1b1b1b ;

@layout-header-background:  transparent;

@table-border-color: #050505;

.HeaderBtn{
  background-color: #ef5e23;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fd505b7-1d62-42fa-ae28-60294fb112fa/dagxy78-e603ec01-1545-422c-bf33-0fa43fb92fdf.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOGZkNTA1YjctMWQ2Mi00MmZhLWFlMjgtNjAyOTRmYjExMmZhXC9kYWd4eTc4LWU2MDNlYzAxLTE1NDUtNDIyYy1iZjMzLTBmYTQzZmI5MmZkZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.i0RtvYpr2-2wfp-sHvx7dcQHCB2ct79iJJh6Gfm1vE8");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}